# Pygame cache & Logs
static/cache/
*.log
*.log.*


# Python bytecode
__pycache__/
*.py[cod]

# Config (falls sensible Daten drinstehen)
config.json

# Virtuelle Umgebung
venv/

#Cahe File
current_image*
